
	<div class="row	profile">
	  <div class="photo col-md-12">
		<%= image_tag @listener.photo.url(:medium) %>
		</div>
		<div class="like col-md-12">
			<% if current_user %>
				<% if current_user.likedListener?(@listener) %>
				  <%= link_to "unlike",like_listener_path(@listener),:method => "post", :remote => true, :class=>"btn btn-primary"  %>
				<% else %>
				  <%= link_to "like",like_listener_path(@listener),:method => "post",:remote => true, :class=>"btn btn-primary" %>
				<% end %>
			<% end	%>
		</div>
			
		<div class="like_num col-md-12">
			<%= @like_num %> like
			<% @listener.like_users.each do |u| %> 
				<%= u.email %>
			<% end %>
		</div>
	


		<dl class="dl-horizontal description col-md-12">
		  <dt>name</dt>
		  <dd><%= @listener.name %></dd>
		  <dt>description</dt>
		  <dd><%= @listener.description %></dd>
		  <dt>price</dt>
		  <dd><%= number_to_currency(@listener.price, precision: 0) %></dd>
		</dl>
			<div class="book">
			  <% if current_user %>
			 		<%= link_to "預約", new_user_order_path(current_user,:listener_id => @listener.id),  :class=>"btn btn-warning"   %>
			 	<% else %>
			 		<%= link_to "預約", new_user_session_path, :class=>"btn btn-warning" %>
			 	<% end %>	
			</div>
	</div>

<!-- 	<div id="chart">
		
	</div> -->

<script>
	var chart = c3.generate({
    bindto: '#chart',
    data: {
      columns: [
        ['data1', 30, 200, 100, 400, 150, 250],
        ['data2', 50, 20, 10, 40, 15, 25]
      ]
    }
});

</script>


	


