<div class="row">
	<div class="col-md-4">
		<%= image_tag @order.listener.photo.url(:medium) %>
	</div>
	<div class="col-md-8">
	<dl class="dl-horizontal">
		<dt>order_number</dt>
		<dd><%= @order.id%></dd>
		<dt>listener</dt>
		<dd><%= @order.listener.name %></dd>
		<dt>price</dt>
		<dd><%= number_to_currency(@order.listener.price, precision: 0) %></dd>
		<dt>quantity</dt>
		<dd><%= @order.quantity %></dd>
		<dt>subtotal</dt>
		<dd><%= number_to_currency(@order.subtotal, precision: 0) %></dd>
		<dt>time		
		<% @order.listener_timeships.each do |listener_timeship| %>
			<dd><%= listener_timeship.availabletime.time_start %></dd>
		<% end %>
		</dt>
	</dl>	

	</div>

</div>
<div>
 <h3>結帳方式</h3>
</div>
<% if @order.paid? %>

  <p>已付款成功</p>

<% else %>

  <p>
  <% Payment::PAYMENT_METHODS.each do |pm| %>
    <%= link_to t(pm, :scope => "PaymentPay2go"), checkout_pay2go_user_order_path(current_user, @order, :payment_method => pm), :class => "btn btn-primary btn-lg", :method => :post %>
  <% end %>
  </p>

<% end %>


