<!DOCTYPE html>
<html>
  <head>
    <title>ListenWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/assets/c3.css" rel="stylesheet" type="text/css">
    <script src="/assets/d3.v3.min.js" charset="utf-8"></script>
    <script src="/assets/c3.min.js"></script>

  </head>

  <body>
    <div class="container">

      <div class="pull-right nav clearfix">
        <%= link_to "home", listeners_path %> 
        <%= link_to "listeners", list_listeners_path %> 
        <%= link_to "訂單紀錄", user_orders_path(current_user) if current_user %>

        <% if current_user %>
          <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
        <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('一般登入', new_session_path(:user)) %>
           <%= link_to "Facebook登入", user_facebook_omniauth_authorize_path %>
        <% end %>

      </div>

      <div class="row">
        <div class="col-md-12">
          <% if flash[:notice].present? %>
            <div class="alert alert-success" role="alert"><%= notice %>
            </div>
          <% end %>
          <% if flash[:alert].present? %>
            <div class="alert alert-danger" role="alert">
              <%= alert %>
            </div> 
          <% end %>  
        </div>
      </div> 
      
    </div> 
    <%= yield %>
  </body>
</html>
